# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:\dev\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
build/

.gradle
.gradle/*
.gradle/wrapper/*

#IntelliJ
.idea
.idea/*
.idea/misc.xml
.idea/vcs.xml
